{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y bg">
        <div class="container">
            <div class="row">
                {% include 'includes/dashboard-sidebar.html' %}
                <main class="col-md-9">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3">Change your password</strong>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                {% include 'includes/alerts.html' %}
                                <div class="col-md-12">
                                    <form action="{% url 'change_password' %}" method="post">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label for="current_password">Current password:</label>
                                            {{ change_password_form.current_password }}
                                        </div>
                                        <div class="form-group">
                                            <label for="new_password">New Password:</label>
                                            {{ change_password_form.new_password }}
                                        </div>
                                        <div class="form-group">
                                            <label for="confirm_password">Confirm Password: </label>
                                            {{ change_password_form.confirm_password }}
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->
                    </article> <!-- order-group.// -->
                </main>
            </div> <!-- row.// -->
        </div>


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}