security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="6B0y336cf6jOs7YP2ZvADB" password="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2F1dGguY29uZHVrdG9yLmlvIiwic291cmNlQXBwbGljYXRpb24iOiJhZG1pbiIsInVzZXJNYWlsIjpudWxsLCJwYXlsb2FkIjp7InZhbGlkRm9yVXNlcm5hbWUiOiI2QjB5MzM2Y2Y2ak9zN1lQMlp2QURCIiwib3JnYW5pemF0aW9uSWQiOjc0NzI4LCJ1c2VySWQiOjg2OTQ4LCJmb3JFeHBpcmF0aW9uQ2hlY2siOiI4ZWFhNmFmYi0wODIyLTQxNDAtYjMxNi0wYjk3MTUwNWU3ZGUifX0.FMs5w7F5AySGH-p5ieJ-sWqNmaXWZ_8rkpvTbSu0as4";
sasl.mechanism=PLAIN